<footer class="bg-dark text-white overflow-hidden">
    <div class="container-fluid px-lg-0">
        <div class="container-lg px-0 py-5 d-flex flex-column align-items-center">
            <h1 class="h5">Le projet {{ site.data.identity.name }} est porté par trois associations transpartisanes :</h1>
            <ul class="d-flex flex-wrap align-items-center list-unstyled">
                <li class="m-2"><img src="assets/img/logo-je.png" alt="Les Jeunes Européens - France," class="" width="200"></li>
                <li class="m-2"><img src="assets/img/logo-mef.png" alt="le Mouvement Européen - France," class="" width="200"></li>
                <li class="m-2"><img src="assets/img/logo-uef.png" alt="l'Union des Fédéralistes européens" class="" width="200"></li>
            </ul>
            </div>
        </div>
    </div>
</footer>