<div class="bg-dark text-white overflow-hidden bg-yellow">
    <div class="container-fluid px-lg-0">
        <div class="container-lg px-0 py-4">
            <div class="row px-3 px-md-5">
                <div class="col-12 col-lg-6 mt-3">
                    <a class="btn btn-light btn-lg mr-auto media" href="/assets/uploads/Label-Ville-UE-Charte.pdf">
                        <i class="feather-icons-nav align-self-center" data-feather="download"></i>
                        <span class="media-body">Consulter la charte</span>
                    </a>
                </div>
                <div class="col-12 col-lg-6 my-3">
                    <a class="btn btn-light btn-lg mr-auto media" href="mailto:ville-europeenne@jeunes-europeens.org">
                        <i class="feather-icons-nav align-self-center" data-feather="send"></i>
                        <span class="media-body">Nous contacter</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-dark text-white overflow-hidden">
    <div class="container-fluid px-lg-0">
        <div class="container-lg px-0 py-5 d-flex flex-column align-items-center">
            <h1 class="h5">Le projet {{ site.data.identity.name }} est porté par trois associations transpartisanes :</h1>
            <ul class="d-flex flex-wrap align-items-center list-unstyled">
                <li class="my-2 mx-4"><a href="https://www.jeunes-europeens.org/"><img src="assets/img/logo-je.png" alt="Les Jeunes Européens - France," class="" width="200"></a></li>
                <li class="my-2 mx-4"><a href="https://mouvement-europeen.eu/"><img src="assets/img/logo-mef.png" alt="le Mouvement Européen - France," class="" width="200"></a></li>
                <li class="my-2 mx-4"><a href="https://www.uef.fr/"><img src="assets/img/logo-uef.png" alt="l'Union des Fédéralistes européens" class="" width="200"></a></li>
            </ul>
            <p class="text-center font-weight-lighter">Les Jeunes Européens – France, le Mouvement Européen – France et
                l’Union des Fédéralistes Européens – France, sont des associations citoyennes qui se définissent comme
                un lieu de débats, d’information et de propositions tout en respectant le pluralisme politique qui leur
                interdit toute action politique partisane. Elles revendiquent leur caractère transpartisan qui s’affirme
                par le dialogue avec l’ensemble des partis politiques sans toutefois n’en soutenir aucun.<br>
                <strong class="font-weight-bold">
                    Les trois associations et leurs sections locales s’interdisent ainsi d’appeler au vote pour un parti
                    politique ou un candidat, quel qu’il soit.
                </strong>
            </p>
        </div>
    </div>
</footer>