header {
  position: relative;
  z-index: -10;
  background: theme-color("blue") url("../../assets/img/waldemar-brandt-wRAHbIziQfg-unsplash.jpeg") no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  //transition: font-size 2s, transform 2s;

  /*&::after {
    content: "SCROLL";
    color: white;
    font-weight: 600;
    font-size: 1.2em;

    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }*/
}

main {
  position: relative;
  z-index: 0;
  background: white;
}

section {
  margin: 0 -9999px;
  padding: 50px 9999px;

  //min-height: 300px;
}

.icon-antoine {
  height: 150px;
  width: 150px;
}

/*
section:before {
  //display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9600px;
  right: 50%;
  background: green;
}*/
