body {
  font-family: "Proxima Nova", $font-family-sans-serif;
}

#header_homepage {
  position: relative;
  z-index: -10;
  background: theme-color("blue") url("../../assets/img/waldemar-brandt-wRAHbIziQfg-unsplash.jpeg") no-repeat fixed center;
  background-size: cover;
  height: calc(100vh - 76px);
  width: 100vw;
}

@include media-breakpoint-down(xs) {
  #header_homepage {
    background-size: auto 60vh;
    background-position: top -10vh center;
    height: 50vh;
    img {
      display: none;
    }
  }
}


main {
  position: relative;
  z-index: 0;
  background: white;
}

section {
  margin: 0 -9999px;
  padding: 50px 9999px;

  //min-height: 300px;
}

.icon-antoine {
  height: 150px;
  width: 150px;
}

/*
section:before {
  //display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9600px;
  right: 50%;
  background: green;
}*/
