section {
  margin: 0 -9999px;
  padding: 50px 9999px;

  //min-height: 300px;
}

.icon-antoine {
  height: 150px;
}

/*
section:before {
  //display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9600px;
  right: 50%;
  background: green;
}*/
